@import "../../sass/global";

.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,0);
  color: $white;
  padding: 0.5em 1em;
  .logo {
    font-size: $font-size-p-m;
    font-weight: $extra-bold;
  }
}