@import "../../sass/global";

.map {
  width: 50vw;
  height: 50vh;
}

.circle {
  /* background-color: #d83b01; */
  background-color: #f87254;
  border-radius: 50%;
  color: #fff;
  height: 3em;
  position: relative;
  width: 3em;
}

.circleText {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hover {
  background-color: #0078d4;
}

.places-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
}

.places {
  display: flex;
  flex-direction: column;
  gap: 1em;
  div {
    padding: 1em;
    border-radius: 0.275rem;
    border: 1px solid;
  }
}
